<form method="post" action="{{ path('app_usages_delete', {'id': usage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usage.id) }}">
    <button class="btn">Delete</button>
</form>
