{% extends "base.html.twig" %}
{% block body %}
<div class="d-flex">

    <div class="d-flex flex-column admin-action">
        <h3>Créer une categorie</h3>  
            {{ form(form) }}
    </div>
</div>
{% endblock %}